<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moon.booklove_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookLoveAndroid"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.moon.booklove_android.view.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakaod4e7ef1673fec6a777393689a82748d7"  />
            </intent-filter>
        </activity>

        <activity
            android:name="com.moon.booklove_android.view.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.moon.booklove_android.view.collect.CollectActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.moon.booklove_android.view.signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.moon.booklove_android.view.detail.DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>